body {
  background-color: #ffffff;
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif !important;
}
* {
  /* border: solid 1px red; */
  overflow-x: hidden;
}
.inpOut {
  outline-style: none;
}
.fs-7 {
  font-size: x-small;
}
.fs-10 {
  font-size: 10px;
}
.c-pointer {
  cursor: pointer;
}
